.bundle/
.cache/
.DS_Store
.idea/
.vscode/
*.code-workspace
*.iml
*.log
*.swp
*.xlsx
coverage/
dist/
jsconfig.json
node_modules/
tmp/
vendor/
cypress/videos/
cypress/screenshots/
hash.txt
credentials.yml
